datasets >= 1.13.3
pytest<8.0.1
conllu
nltk
rouge-score
seqeval
tensorboard
evaluate >= 0.2.0
torch
accelerate
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
