albumentations >= 1.4.16
timm
datasets
torchmetrics
pycocotools
torch>=2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
